{% extends "manage/base_with_side.html" %}
{% block breadcrumb %}
    <div>
        <ul class="breadcrumb">
            <li>
                <a href="{% url 'manage_dashboard' %}">Dashboard</a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{% url 'gcs_upgrade_list' %}"> GCS </a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{% url 'gcs_theme_list' %}"> Theme List </a>
            </li>
            <span class="divider">/</span>
            <li>
                <a href="{% url 'gcs_theme_add' %}"> Add </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block right_block %}



    <div class="row-fluid sortable ui-sortable">
        <div class="box span12">
            <div class="box-header well" data-original-title="">
                <h2><i class="icon-edit"></i>New Theme Build</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <form class="form-horizontal" action='{% url 'gcs_theme_add_handle' %}' method="POST"
                      enctype="multipart/form-data">
                    <fieldset>
                        {% csrf_token %}



                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Theme Name</label>

                            <div class="controls">
                                <input class="input-xlarge focused" id="theme_name" type="text" name="theme_name"
                                       value=""> <span class="help-inline">Name</span>

                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Build</label>

                            <div class="controls">
                                <input class="input-xlarge focused" id="build" type="number" name="build"
                                       value="">
                                <span class="help-inline">new build</span>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Version</label>

                            <div class="controls">
                                <input class="input-xlarge focused" id="version" type="text"
                                       name="version"
                                       value=""> <span class="help-inline">new version</span>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Author</label>

                            <div class="controls">
                                <input class="input-xlarge focused" id="author" type="text"
                                       name="author"
                                       value=""> <span class="help-inline">author name</span>

                            </div>
                        </div>




                        <div class="control-group">
                            <label class="control-label" for="focusedInput">URL</label>

                            <div class="controls">
                                <input class="input-xlarge focused" id="more_url" type="text" name="more_url"
                                       value=""/> <span class="help-inline">extra information</span>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Description</label>

                            <div class="controls">
                                <textarea class="input-xlarge focused" id="description" type="text" name="description"
                                          style="height: 100px"
                                          value=""></textarea> <span class="help-inline">description for upgrade</span>

                            </div>
                        </div>


                        <div class="control-group">
                            <label class="control-label" for="focusedInput">Upgrade File</label>

                            <div class="controls">

                                <input type="file" name="file"/>

                            </div>
                        </div>


                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">提交</button>
                            <button type="reset" value="Reset" class="btn">取消</button>
                        </div>
                    </fieldset>
                </form>

            </div>
        </div>
        <!--/span-->

    </div>


{% endblock %}